@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
	<link rel="shortcut icon" type="image/x-icon" href="https://media.licdn.com/mpr/mpr/shrinknp_400_400/AAEAAQAAAAAAAAYSAAAAJGMxMGVjNDAxLTI3ODUtNDhiMy05YjAyLTA0NWYzMmFlNGJhZg.png" />
	<link href="~/Content/css/site.css" rel="stylesheet" />
	<script src="~/Scripts/jquery/jquery-2.2.0.min.js"></script>
	<title>SimpleReactJS.NET</title>
</head>
<body>
	@RenderBody()
</body>
</html>
