.row {
    margin-right: 0 !important;
    margin-left: 0 !important;
}

.todo-text h4 {
	font-size:4rem;
}

.todo-date h1 {
	font-weight:bold;
	text-decoration:underline;
}

.todo-text {
	cursor: pointer;
}